/* Styling of the logo */

.logo {
    width: 20vw;
}

.logo__name {
    display: inline-block;
    width: 15vw;
}

.logo__headline {
    margin: 0;
    font-size: 1.5rem;
}

.logo__text {
    margin: 0;
    font-size: 0.75rem;
}