/* General layout of main */

.main__intro {
    padding-top: 15vh;
}

.main__headline {
    font-size: 4rem;
    width: 60%;
    max-width: 800px;
    margin-left: 10vw;
}

.main__card-container {
    margin-top: 7.5vh;
}

.main__headline--center {
    margin: auto;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 15vh;
}

.main__text {
    font-size: 1.5rem;
    width: 70%;
    max-width: 700px;
    line-height: 1.75;
    margin-top: 5vh;
    margin-bottom: 15vh;
    text-align: center;
}

